{{> header }}

<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Profile Page</h1>
          
        </div>
      </div>

      

    </main>

    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>

   
  </body>
</html>
