{{> header }}

<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Profile Page</h1>
          <h1 class="display-3">Username: {{ user.username }}</h1>
          <h1 class="display-3">First Name: {{ user.first_name }}</h1>
          <h1 class="display-3">Last Name: {{ user.last_name }}</h1>
          <h1 class="display-3">Email: {{ user.email }}</h1>
          
        </div>
      </div>
      

    </main>

    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>

   
  </body>
</html>
<script>
  console.log(user);
</script>